In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import pickle

df = pd.read_csv("BM_clean.csv")

In [2]:
df.head()

,Unnamed: 0,default,housing,loan,contact,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,age_group,Marital_Status,Job_Type,Edu_Cat,y
0,0,no,no,no,telephone,Never,0,nonexistent,1.1,93.994,-36.4,4.857,Elderly,married,housemaid,school,0
1,1,no,no,no,telephone,Never,0,nonexistent,1.1,93.994,-36.4,4.857,Elderly,married,services,school,0
2,2,no,yes,no,telephone,Never,0,nonexistent,1.1,93.994,-36.4,4.857,Productive Adult,married,services,school,0
3,3,no,no,no,telephone,Never,0,nonexistent,1.1,93.994,-36.4,4.857,Productive Adult,married,admin.,school,0
4,4,no,no,yes,telephone,Never,0,nonexistent,1.1,93.994,-36.4,4.857,Elderly,married,services,school,0

In [3]:
df['Unnamed: 0']

0            0
1            1
2            2
3            3
4            4
         ...
41171    41183
41172    41184
41173    41185
41174    41186
41175    41187
Name: Unnamed: 0, Length: 41176, dtype: int64

In [4]:
df = df.drop(columns=['Unnamed: 0'])
df = df.drop(columns=['emp.var.rate'])
df = df.drop(columns=['cons.price.idx'])
df = df.drop(columns=['cons.conf.idx'])
df = df.drop(columns=['euribor3m'])
df = df.drop(columns=['previous'])
df = df.drop(columns=['poutcome'])

In [5]:
df.head()

,default,housing,loan,contact,pdays,age_group,Marital_Status,Job_Type,Edu_Cat,y
0,no,no,no,telephone,Never,Elderly,married,housemaid,school,0
1,no,no,no,telephone,Never,Elderly,married,services,school,0
2,no,yes,no,telephone,Never,Productive Adult,married,services,school,0
3,no,no,no,telephone,Never,Productive Adult,married,admin.,school,0
4,no,no,yes,telephone,Never,Elderly,married,services,school,0

In [6]:
from sklearn.pipeline import Pipeline

In [7]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV,StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix, classification_report, roc_curve,roc_auc_score

In [9]:
x = df.drop(columns='y')
y = df['y']

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=.80,stratify=y,random_state=42)

In [11]:
x_train.head()

,default,housing,loan,contact,pdays,age_group,Marital_Status,Job_Type,Edu_Cat
36444,no,no,no,cellular,Never,Young Adult,not married,technician,professional.course
1233,no,no,no,telephone,Never,Young Adult,married,blue-collar,professional.course
24104,no,no,no,telephone,Never,Productive Adult,not married,self-employed,university.degree
15513,no,no,yes,telephone,Never,Productive Adult,married,self-employed,school
17912,no,yes,yes,cellular,Never,Productive Adult,married,services,school

In [12]:
x_train['Edu_Cat'].unique()

array(['professional.course', 'university.degree', 'school', 'illiterate'],
      dtype=object)

In [13]:
def log_evaluation(data_sample_train,data_sample_test, aktual_train,aktual_test, model):
    hasil_model_train = model.predict(data_sample_train)
    accuracy_train = accuracy_score(aktual_train, hasil_model_train)
    recall_train = recall_score(aktual_train, hasil_model_train)
    precision_train = precision_score(aktual_train, hasil_model_train)
    f1_train = f1_score(aktual_train, hasil_model_train)
    rocauc_train = roc_auc_score(aktual_train,hasil_model_train)

    hasil_model_test = model.predict(data_sample_test)
    accuracy_test = accuracy_score(aktual_test, hasil_model_test)
    recall_test = recall_score(aktual_test, hasil_model_test)
    precision_test = precision_score(aktual_test, hasil_model_test)
    f1_test = f1_score(aktual_test, hasil_model_test)
    rocauc_test = roc_auc_score(aktual_test,hasil_model_test)
    
    cm = confusion_matrix(aktual_test, hasil_model_test, labels=[1,0])
    df_cm = pd.DataFrame(cm, index = ["akt1", "akt0"],columns=["pred 1" , "pred 0"])
    cr = classification_report(aktual_test, hasil_model_test)


    hasil_evaluation = pd.DataFrame(data= {"Training" : [accuracy_train, recall_train, precision_train,f1_train,rocauc_train],"Testing" : [accuracy_test, recall_test, precision_test,f1_test,rocauc_test]}, index=["accuracy", "recall" , "precission", "F1 Score", "ROCAUC"] )

    return hasil_model_train, hasil_model_test, hasil_evaluation, df_cm, cr

In [14]:
cat_columns = ["default","housing","loan","contact","pdays","age_group","Marital_Status","Job_Type","Edu_Cat"]

In [15]:
cat_pipeline = Pipeline([
    ('encoder',OneHotEncoder())
])


preprocessor = ColumnTransformer([
    # ('Nama Instruksi',fungsinya, data yang akan dieksekusi dengan fungsi tsb)
    ('categoric1',cat_pipeline,cat_columns),
])

Pipe_rf = Pipeline([
    ('prep',preprocessor),
    ('algo',RandomForestClassifier())

])

In [16]:
Pipe_rf.fit(x_train,y_train)

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('categoric1',
                                                  Pipeline(steps=[('encoder',
                                                                   OneHotEncoder())]),
                                                  ['default', 'housing', 'loan',
                                                   'contact', 'pdays',
                                                   'age_group',
                                                   'Marital_Status', 'Job_Type',
                                                   'Edu_Cat'])])),
                ('algo', RandomForestClassifier())])

In [17]:
rf_hasil_train, rf_hasil_test, rf_evaluation, rf_cm, rf_cr = log_evaluation(x_train, x_test, y_train, y_test, Pipe_rf)

In [18]:
rf_hasil_train

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
Pipe_rf

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('categoric1',
                                                  Pipeline(steps=[('encoder',
                                                                   OneHotEncoder())]),
                                                  ['default', 'housing', 'loan',
                                                   'contact', 'pdays',
                                                   'age_group',
                                                   'Marital_Status', 'Job_Type',
                                                   'Edu_Cat'])])),
                ('algo', RandomForestClassifier())])

In [20]:
rf_evaluation

            Training   Testing
accuracy    0.902489  0.891088
recall      0.205335  0.150862
precission  0.743415  0.562249
F1 Score    0.321791  0.237893
ROCAUC      0.598169  0.567973

In [21]:
rf_cm

      pred 1  pred 0
akt1     140     788
akt0     109    7199

In [22]:
print(rf_cr)

              precision    recall  f1-score   support

           0       0.90      0.99      0.94      7308
           1       0.56      0.15      0.24       928

    accuracy                           0.89      8236
   macro avg       0.73      0.57      0.59      8236
weighted avg       0.86      0.89      0.86      8236

In [23]:
skf = StratifiedKFold(n_splits=4)

#use required features
cdf = df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB','CO2EMISSIONS']]

#Training Data and Predictor Variable
# Use all data for training (tarin-test-split not used)
x = cdf.iloc[:, :3]
y = cdf.iloc[:, -1]
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(x, y)

# Saving model to current directory
# Pickle serializes objects so they can be saved to a file, and loaded in a program again later on.
pickle.dump(regressor, open('model.pkl','wb'))

In [24]:
Pipe_rf.get_params()

{'memory': None,
 'steps': [('prep',
   ColumnTransformer(transformers=[('categoric1',
                                    Pipeline(steps=[('encoder', OneHotEncoder())]),
                                    ['default', 'housing', 'loan', 'contact',
                                     'pdays', 'age_group', 'Marital_Status',
                                     'Job_Type', 'Edu_Cat'])])),
  ('algo', RandomForestClassifier())],
 'verbose': False,
 'prep': ColumnTransformer(transformers=[('categoric1',
                                  Pipeline(steps=[('encoder', OneHotEncoder())]),
                                  ['default', 'housing', 'loan', 'contact',
                                   'pdays', 'age_group', 'Marital_Status',
                                   'Job_Type', 'Edu_Cat'])]),
 'algo': RandomForestClassifier(),
 'prep__n_jobs': None,
 'prep__remainder': 'drop',
 'prep__sparse_threshold': 0.3,
 'prep__transformer_weights': None,
 'prep__transformers': [('categoric1',
   Pipeline(steps=[('encoder', OneHotEncoder())]),
   ['default',
    'housing',
    'loan',
    'contact',
    'pdays',
    'age_group',
    'Marital_Status',
    'Job_Type',
    'Edu_Cat'])],
 'prep__verbose': False,
 'prep__categoric1': Pipeline(steps=[('encoder', OneHotEncoder())]),
 'prep__categoric1__memory': None,
 'prep__categoric1__steps': [('encoder', OneHotEncoder())],
 'prep__categoric1__verbose': False,
 'prep__categoric1__encoder': OneHotEncoder(),
 'prep__categoric1__encoder__categories': 'auto',
 'prep__categoric1__encoder__drop': None,
 'prep__categoric1__encoder__dtype': numpy.float64,
 'prep__categoric1__encoder__handle_unknown': 'error',
 'prep__categoric1__encoder__sparse': True,
 'algo__bootstrap': True,
 'algo__ccp_alpha': 0.0,
 'algo__class_weight': None,
 'algo__criterion': 'gini',
 'algo__max_depth': None,
 'algo__max_features': 'auto',
 'algo__max_leaf_nodes': None,
 'algo__max_samples': None,
 'algo__min_impurity_decrease': 0.0,
 'algo__min_impurity_split': None,
 'algo__min_samples_leaf': 1,
 'algo__min_samples_split': 2,
 'algo__min_weight_fraction_leaf': 0.0,
 'algo__n_estimators': 100,
 'algo__n_jobs': None,
 'algo__oob_score': False,
 'algo__random_state': None,
 'algo__verbose': 0,
 'algo__warm_start': False}

In [25]:
import numpy as np

In [26]:
weights2 = np.arange(0.1,0.9,0.1)
weights2

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8])

In [27]:
pm_rf = {
    'algo__n_estimators': [1000, 1100, 1200],
    'algo__max_depth': np.arange(0,100,1),
    #'algo__min_samples_split' : np.arange(1,200,1),
    #'algo__min_samples_leaf': np.arange(1,200,1),
    'algo__class_weight': [{0:x, 1:1.0-x} for x in weights2],
    #"algo__random_state" : [42]

}

In [28]:
gs_rft = RandomizedSearchCV(Pipe_rf, pm_rf, cv = skf, n_jobs=-1,verbose = -1,scoring="balanced_accuracy", random_state= 3, n_iter=3)

In [29]:
gs_rft.fit(x_train,y_train)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=4, random_state=None, shuffle=False),
                   estimator=Pipeline(steps=[('prep',
                                              ColumnTransformer(transformers=[('categoric1',
                                                                               Pipeline(steps=[('encoder',
                                                                                                OneHotEncoder())]),
                                                                               ['default',
                                                                                'housing',
                                                                                'loan',
                                                                                'contact',
                                                                                'pdays',
                                                                                'age_group',
                                                                                'Marital_Status',
                                                                                'Job_Type',
                                                                                'Edu_Cat'])])),
                                             ('algo',
                                              RandomForestClassifier())]),
                   n_ite...
                                        'algo__max_depth': array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]),
                                        'algo__n_estimators': [1000, 1100,
                                                               1200]},
                   random_state=3, scoring='balanced_accuracy', verbose=-1)

In [30]:
gs_rft.best_params_

{'algo__n_estimators': 1200,
 'algo__max_depth': 62,
 'algo__class_weight': {0: 0.6, 1: 0.4}}

In [31]:
rf_t = gs_rft.best_estimator_

In [32]:
rf_t

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('categoric1',
                                                  Pipeline(steps=[('encoder',
                                                                   OneHotEncoder())]),
                                                  ['default', 'housing', 'loan',
                                                   'contact', 'pdays',
                                                   'age_group',
                                                   'Marital_Status', 'Job_Type',
                                                   'Edu_Cat'])])),
                ('algo',
                 RandomForestClassifier(class_weight={0: 0.6, 1: 0.4},
                                        max_depth=62, n_estimators=1200))])

In [33]:
rft_hasil_train, rft_hasil_test, rft_evaluation, rft_cm, rft_cr = log_evaluation(x_train, x_test, y_train, y_test, rf_t)

In [34]:
rft_evaluation

            Training   Testing
accuracy    0.902277  0.890966
recall      0.185664  0.129310
precission  0.777652  0.571429
F1 Score    0.299761  0.210896
ROCAUC      0.589462  0.558498

In [35]:
rft_cm

      pred 1  pred 0
akt1     120     808
akt0      90    7218

In [36]:
print(rft_cr)

              precision    recall  f1-score   support

           0       0.90      0.99      0.94      7308
           1       0.57      0.13      0.21       928

    accuracy                           0.89      8236
   macro avg       0.74      0.56      0.58      8236
weighted avg       0.86      0.89      0.86      8236

In [37]:
# Saving model to current directory
# Pickle serializes objects so they can be saved to a file, and loaded in a program again later on.
import pickle
import sklearn

In [38]:
scikit_learn_version = sklearn.__version__

scikit_learn_version

'0.24.1'

In [39]:
rfr_model_param = {}

rfr_model_param['model'] = rf_t
rfr_model_param['sklearn_version'] = scikit_learn_version

In [40]:
rfr_model_param

{'model': Pipeline(steps=[('prep',
                  ColumnTransformer(transformers=[('categoric1',
                                                   Pipeline(steps=[('encoder',
                                                                    OneHotEncoder())]),
                                                   ['default', 'housing', 'loan',
                                                    'contact', 'pdays',
                                                    'age_group',
                                                    'Marital_Status', 'Job_Type',
                                                    'Edu_Cat'])])),
                 ('algo',
                  RandomForestClassifier(class_weight={0: 0.6, 1: 0.4},
                                         max_depth=62, n_estimators=1200))]),
 'sklearn_version': '0.24.1'}

In [41]:
pickle.dump(rf_t, open('model_rf_t.pkl','wb'))

In [42]:
model__ = pickle.load(open('model_rf_t.pkl','rb'))

In [43]:
print(model__.predict(x_test))

[0 0 0 ... 0 0 0]

In [44]:
x_test.head()

,default,housing,loan,contact,pdays,age_group,Marital_Status,Job_Type,Edu_Cat
8489,no,no,no,telephone,Never,Productive Adult,married,services,school
40832,no,yes,no,cellular,Yes,Young Adult,not married,student,professional.course
35671,no,yes,no,cellular,Never,Productive Adult,not married,self-employed,school
35984,no,no,no,cellular,Never,Young Adult,not married,blue-collar,professional.course
21954,no,yes,no,cellular,Never,Young Adult,married,technician,university.degree

In [141]:
conda update conda

^C

Note: you may need to restart the kernel to use updated packages.

In [145]:
conda install scikit-learn=0.24.2

Note: you may need to restart the kernel to use updated packages.

Cannot open C:\Users\USER\anaconda3\Scripts\conda-script.py